<%- include('header') -%>

<body>
    <div class="box" id="heading">
        <h1> <%= listType %> </h1>
    </div>

    <%# comment in ejs %>
    <div class="box">

        <% items.forEach((item) =>{ %>
        <form action="/delete" method="post">
            <div class="item">
                <input onChange="this.form.submit()" value="<%= item._id %>" name="checkbox" type="checkbox">
                <p> <%= item.name %> </p>
            </div>
            <input type="hidden" name="hiddenListName" value="<%= listType %>">
        </form>
        <%  }) %>



        <form action="/" class="item" method="post">
            <input type="text" name="inpt" placeholder="Novo Item">
            <button type="submit" name="submit" value=<%= listType %>>+</button>
        </form>

    </div>

</body>
<%- include('footer') -%>